<div>
    <div class="row">
        <div class="col-md-4">
            Всем понравилась<br><br>
            вирусная реклама Второго<br>
            Внутреннего Хакатона! А<br>
            раз так, то вы можете<br>
            реализовать любые свои идеи<br>
            с четверга на пятницу.
        </div>
        <div class="col-md-4">
            Хакатон —<br><br>
            (англ. hackathon, от<br>
            hack (см. хакер) и marathon<br>
            — марафон) —<br>
            мероприятие, во время<br>
            которого специалисты из<br>
            разных областей разработки<br>
            программного обеспечения<br>
            (программисты, дизайнеры,<br>
            менеджеры) сообща работают<br>
            над решением какой-либо<br>
            проблемы.
        </div>
        <div class="col-md-4">
            Расписание:<br><br>
            10 июля:<br>
            15:00 сбор на -1<br>
            16:00 препитчинг<br>
            16:00 опен-ланч<br><br>
            11 июля:<br>
            12:00 презентация<br>
            15:00 DJ Огурец<br>
            18:00 Пати
        </div>
    </div>
    <div class="row text-center margin-top">
        <a class="x-button" href="#/register">Зарегистрироваться</a>
    </div>
</div>